In [1]:
# importing libraries

import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
# seperating independent and dependent variables
x = data.drop(['Survived'], axis=1)
y = data['Survived']

In [6]:
from sklearn.model_selection import train_test_split

In [17]:
train_x,test_x,train_y,test_y = train_test_split(x,y,random_state=101, stratify=y)

In [18]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [19]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [20]:
# importing the decision tree classifer
from sklearn.tree import DecisionTreeClassifier

In [21]:
clf = DecisionTreeClassifier()

In [22]:
clf.fit(train_x, train_y)

DecisionTreeClassifier()

In [23]:
clf.score(train_x, train_y)

0.9880239520958084

In [24]:
clf.score(test_x, test_y)

0.7533632286995515

In [27]:
# importing random forest classifer
from sklearn.ensemble import RandomForestClassifier

In [44]:
clf = RandomForestClassifier(n_estimators=100,max_depth=12)

In [45]:
clf.fit(train_x, train_y)

RandomForestClassifier(max_depth=12)

In [46]:
clf.score(train_x, train_y)

0.9640718562874252

In [47]:
clf.score(test_x,test_y)

0.7802690582959642

In [48]:
clf.feature_importances_

array([0.19749219, 0.21003767, 0.03193472, 0.01620035, 0.05631315,
       0.16137657, 0.18172542, 0.01538469, 0.01668506, 0.0060294 ,
       0.0056132 , 0.00475467, 0.00094235, 0.00406392, 0.01803567,
       0.01551942, 0.01168335, 0.00179208, 0.00277468, 0.00278761,
       0.00061148, 0.01387318, 0.01069043, 0.01367875])

In [49]:
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.197492
Fare          0.210038
Pclass_1      0.031935
Pclass_2      0.016200
Pclass_3      0.056313
Sex_female    0.161377
Sex_male      0.181725
SibSp_0       0.015385
SibSp_1       0.016685
SibSp_2       0.006029
SibSp_3       0.005613
SibSp_4       0.004755
SibSp_5       0.000942
SibSp_8       0.004064
Parch_0       0.018036
Parch_1       0.015519
Parch_2       0.011683
Parch_3       0.001792
Parch_4       0.002775
Parch_5       0.002788
Parch_6       0.000611
Embarked_C    0.013873
Embarked_Q    0.010690
Embarked_S    0.013679
dtype: float64